---
import { getCollection } from "astro:content"
import H1 from "../../components/H1.astro";
import Main from "../../components/Main.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostCard from "../../components/PostCard.astro";
import Pagination from "../../components/Pagination.astro";
import { SITE_PAGE_SIZE } from "../../config";
import type { Page } from 'astro'
import type { CollectionEntry } from "astro:content";



export async function  getStaticPaths({ paginate } : any) {
    let posts = await getCollection("posts");
    posts.sort((a, b) => Date.parse(b.data.date) - Date.parse(a.data.date));

    return paginate(posts, {
        pageSize: SITE_PAGE_SIZE,
    }) ;
}

type Props = {
    page : Page<CollectionEntry<'posts'>>
}

const { page  } = Astro.props

---

<BaseLayout title="Blog | David Tessier">
	<Main>
        <section>
            <div class="m-4">
                <H1 text="Technical Ramblings" />
                <hr class="border-2 border-slate-400 w-28" />
            </div>
        <div class="m-6 justify-center align-middle w-full">
            <h2 class="font-mono text-3xl font-semibold text-slate-600">Articles for cloud developers and architects! </h1>
        </div>
        <div class="m-6 align-middle w-full">
            <span class="mt-2 font-mono text-slate-600">I try to document everything I learn or work on in order to provide information and help other learn. From application development to career tips.</span>
        </div>
        
		<div class="m-6 align-middle w-full">   
            <div class="grid grid-cols-2 gap-x-16 gap-y-14 max-md:grid-cols-1 mb-24">
                {
                    page.data.map((post) => 
                        <PostCard post={post} />
                    )
                }
                
            </div>
            <div class="flex flex-wrap gap-4">
                <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
            </div>
        
        </div>
    </section>
	</Main>
</Layout>