---
import { getCollection, type CollectionEntry } from 'astro:content'
import H1 from "../../components/H1.astro";
import Main from "../../components/Main.astro";
import { Image } from 'astro:assets';
import BaseLayout from '../../layouts/BaseLayout.astro';

//const { slug } = Astro.params

//const post = await getEntryBySlug("posts", slug as string)
/*
if(!post) {
    return Astro.redirect(`/404`);
}*/

export const getStaticPaths = async () => {
    const posts = await getCollection("posts");
    const paths = posts.map(post => {
        return {
            params: {
                slug: post.slug
            },
            props: {
                post
            }
        }
    })
    return paths;
}


type Props = {
    post: CollectionEntry<"posts">
}

const { post } = Astro.props
const { Content } = await post.render()
---

<BaseLayout title={post.data.title}>
	<Main>
		<H1 text={post.data.title}/>
        <Image 
            src={post.data.image}
            width={900}
            height={600 / 1.5}
            alt={post.data.title}
            />
        <hr class="m-5 text-2xl mb-4"/>
        <div class="prose prose-2xl overflow-visible  mb-24">
            <Content />
        </div>
        
	</Main>
</BaseLayout>