---
import { Image } from "astro:assets";
import Main from "../components/Main.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import H1 from "../components/H1.astro";

---


<BaseLayout title="About | David Tessier">
    <Main>
      <section class="text-lg">
        <div class="m-4">
        <H1 text="About" />
        <hr class="border-2 border-slate-400 w-28 mb-4" />
      
        <Image src="/images/me.jpeg"  
				width={400}
				height={400 / 1.5}
				alt="Me"
				class="border-8 rounded-full border-gray-400"/>
        <p class="my-3">
          I am a <b>Senior Solutions Architect</b> with a focus on all things security related, from application security to network security. 
          Currently I work within the pre-sales <b>Solution Architecture</b> team at <a href="https://cloudwerx.tech" class="font-bold hover:text-blue-800" target="_blank">CloudWerx</a> which is a 🚀 Premier Google Cloud Partner specializing in Infrastructure and AI. We help Clients on their Digital Cloud Transformation Journey to <a href="https://cloud.google.com/" class="font-bold hover:text-blue-800" target="_blank">Google Cloud</a>. 
        </p>
        <p class="my-3">
            I blog about everything and anything related to cloud, security, networking and application development. 
          </p>
          <p class="my-3">
          I am an experienced application programmer and cloud architect with a focus on backend systems, cloud and network security. 
          </p>
          <p class="my-3">
          I thrive on learning new technologies to keep my skills sharp.  
          </p>
        </div>
      </section>
    </Main>
</BaseLayout>