---
import Main from "../components/Main.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import CredentialList from "../components/CredentialList.astro";
import { getCollection } from "astro:content";
import H1 from "../components/H1.astro";

const credentials = await getCollection("credentials");
---

<BaseLayout title="Credentials & Certifications | David Tessier">
    <Main>
        <section>
            <div class="m-4">
                <H1 text="Credentials & Certifications" />
                <hr class="border-2 border-slate-400 w-28 mb-4" />
                <p class="my-5">The following section outlines all the certifications and credentials that I have acquired over the course of my career.</p>    
            </div>
            <div>
                <CredentialList credentials={credentials} />
            </div>
            
          </section>
    </Main>
</BaseLayout>