---
import Layout from '../layouts/Layout.astro';
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import { Image } from 'astro:assets';

export const prerender = true
---

<Layout title="David Tessier">
	<Main>
		<div class="w-full pt-20 h-auto min-h-[100%] justify-center align-middle flex flex-row content-stretch">
		
			<div class="flex flex-wrap min-h-full max-w-full m-0">
				<Image src="/images/me.jpeg"  
				width={500}
				height={500 / 1.5}
				alt="Me"
				class=" border-8 rounded-3xl border-gray-400"/>
				<div class="m-10 pt-20">
					<H1 text="David Tessier" />
					<p class="font-mono text-slate-400 mt-8">
						Hi! 👋 I am a Cloud Security Architect specializing in all things Cloud! <br />
						Welcome to my website which is intended to showcase my portfolio of work.
					</p>
				</div>
			</div>
		</div>
	</Main>
</Layout>

