---

import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import LinkButton from '../components/LinkButton.astro';

export const prerender = true
---

<BaseLayout>
	<Main>
		<div class="w-full sm:pt-60 h-auto min-h-[100%] justify-center align-middle flex flex-row content-stretch">
		
			<div class="flex flex-wrap min-h-full max-w-full m-0">
				<Image src="/images/me.jpeg"  
				width={400}
				height={400 / 1.5}
				alt="Me"
				class="sm:ml-10 border-8 rounded-3xl border-gray-400"/>
				<div class="m-10 pt-10">
					<H1 text="David Tessier" />
					<p class=" text-slate-400 mt-8">
						Hi! 👋 I am a Cloud Security Architect specializing in all things Cloud! <br />
						Welcome to my website which is intended to showcase my portfolio of work.
					</p>
					<div class="flex flex-wrap gap-4 ">
						<div class="pt-8">
							<LinkButton link="/about" display_text="Learn more" />
						</div>
						<div class="pt-8">
							<LinkButton link="mailto:david@daviddtessier.ca" display_text="Contact Me" />
						</div>
						<div class="pt-8">
							<LinkButton link="https://calendly.com/daviddtessier/15-min-on-on-one" display_text="Book 15 Mins" target="_blank" />
						</div>
					</div>
					
				</div>
				
			</div>
		</div>
	</Main>
</BaseLayout>

