---
// data imports

import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import CredentialCard from "./CredentialCard.astro";

type Props = {
    credentials: CollectionEntry<'credentials'>[]
}

const { credentials } = Astro.props


---
<div class="flex flex-wrap">

{credentials.map((cred) => <CredentialCard credential={cred} />)}

</div>