---
import Icon from "astro-icon"
import Socials from "./Socials.astro";

---

<footer class="fixed bottom-0 border-t-2 border-slate-200 w-full  bg-slate-50">
    <hr />
        <div class="flex justify-between align-middle">
            <div>
                Copyright &copy; <span id="copyright"></span> &nbsp;| &nbsp;All rights reserved • David Tessier</span>
            </div>
      
        <div class="hidden lg:flex">
            Built on<a href="https://astro.build" class="font-bold cursor-pointer" target="_blank">&nbsp;Astro</a> &nbsp;| Styled with <a href="https://tailwindcss.com" class="font-bold cursor-pointer" target="_blank">&nbsp;Tailwind CSS</a> 
        </div> 
        <div class="hidden lg:flex">
            <Socials icon_size={23} />
        </div>
    </div>
</footer>

<script>
    const cp = document.querySelector("#copyright");
    if (cp != null){
        cp.textContent = new Date()
            .getFullYear()
            .toString(); 
    }  
</script>

