---
import { Icon } from "astro-icon"
import Logo from './Logo.astro'
import Nav from './Nav.astro';
import SideNav from "./SideNav.astro";
import Socials from "./Socials.astro";

---

<header  class="fixed top-0 w-full h-24 shadow-2xl shadow-slate-300 bg-slate-100">
    <div class="flex justify-between items-center h-full w-full px-4 2xl:px-16">
        <Logo width={300} height={500} />
        <Nav />
    </div>
    <div id="mobileMenu"  class="fixed left-0 top-0 w-[65%] sm:hidden h-screen bg-[#ecf0f3] p-11 ease-in duration-500">
        <div class="flex w-full items-center justify-end rounded-lg">
            <button id="close" 
                class="absolute sm:relative block top-5 py-2 px-2 cursor-pointer">
                <Icon 
                    class="inline lg:hidden h-10 w-10 hover:text-brand cursor-pointer" 
                    name="mdi:close" />
            </button>
         </div>
         <div class="flex col py-4 m-10">
            
            <SideNav class_list="" />
           
            <div class="flex flex-row m-11 pt-10 items-center">
                <Socials icon_size={30} />
            </div>
            <div class="flex flex-row m-11 pt-10 items-center">
                <Logo width={300} height={500} />
            </div>  
         </div>
    </div>
</header>


<script>
    const hamburger = document.getElementById("hamburger")
    const close = document.getElementById("close")

    hamburger?.addEventListener("click", ()=>{
        const mobileMenu = document.getElementById("mobileMenu");
        mobileMenu?.classList.remove("hidden")
        document.body.dataset.menuOpen = "true";
    })

    close?.addEventListener("click", ()=>{
        const mobileMenu = document.getElementById("mobileMenu");
        mobileMenu?.classList.add("hidden")
        delete document.body.dataset.menuOpen;
    })
</script>