---
import { Icon } from "astro-icon"

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<nav>
    <ul class="hidden md:sm:flex gap-6 font-mono font-thin">
        <li><a href="/" class={ currentPath === "" ? "navbarLiActive" : "navbarLi"}>Home</a></li>
        <li><a href="/about" class={ currentPath === "about" ? "navbarLiActive" : "navbarLi"}>About</a></li>
        <li><a href="/blog" class={currentPath=== "blog" ? "navbarLiActive" : "navbarLi"}>Blog</a></li>
    </ul>
    <button aria-label="menu" id="hamburger" 
        aria-controls="mobileMenu" 
        class="md:hidden lg:hidden sm:relative right-2 top-0">
        <Icon 
            class="inline lg:hidden h-10 w-10 hover:text-brand cursor-pointer" 
            name="mdi:menu" />
    </button>
</nav>

