---
import Icon from "astro-icon"
import socialData from "../data/socialData";

type Props = {
    icon_size: number;
};

const {icon_size = 25} = Astro.props

---

<ul class="relative flex gap-2">
    {
        socialData.map((item) => (
        <a href={item.url} target="_blank">
            <Icon name={item.icon} size={icon_size} className="cursor-pointer" />
        </a>
        ))
    }
</ul>