---
import { Icon } from 'astro-icon/components';
import socialData from "../data/socialData";

type Props = {
    icon_size: number;
};

const {icon_size = 45} = Astro.props

---

<ul class="relative flex gap-2">
    {
        socialData.map((item) => (
        <a href={item.url} target="_blank">
            <Icon name={item.icon} size={icon_size} class:list="cursor-pointer" />
        </a>
        ))
    }
</ul>